.App {
  width: 500rem;
  margin: 0.25rem;
  
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 0.25rem;
  text-align: center;

}

.rollNode-tree {
  padding: 0.125rem;
  border: solid 1px black;
  overflow: hidden;
}

.node {
  text-align: center;

  white-space: nowrap;
  overflow: hidden;

  &-wrapper {
    margin: 0;
    padding: 0;
  }

  &-rollPair {
    display: inline-block;
    height: 0.75rem;
    width: 2rem;

    margin-bottom: 0.125rem;

    white-space: nowrap;
    overflow: hidden;
    border: solid 1px black;

    &-probability {
      display: block;
      margin-bottom: 1rem;
    }
  }

  &-children {  
    &-3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      // display: flex;
      // flex-direction: row;
      // border: dashed 1px red;
      // overflow: hidden;
    }
  
    &-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;

      // display: flex;
      // flex-direction: row;
      // border: dashed 1px red;
      // overflow: hidden;
    }
  }
}